<p id="notice"><%= notice %></p>

<p>
  <strong>Name（名前）:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description（説明）:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:（価格）</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image（ロボット）:</strong>
  <%= image_tag(@product.image, class: 'pho', alt: @product.name) %>
</p>

<%= link_to t('link.Edit'), edit_product_path(@product) %>
<%= link_to t('link.Back'), products_path %>
